*.elc
.org-id-locations
straight/build-cache.el
straight/build
straight/repos
.lsp-session*
ido.last
recentf
projects
eln-cache/
.cache/
.smex-items
smex-items
projectile-bookmarks.eld
projectile.cache
org-roam.db
transient/
elpa/
elpa/archives
el-get/
abbrev_defs
auto-save-list
backups
bookmarks
history
ispell-personal-dictionary
custom.el
eshell/history
eshell/lastdir
image-dired/
mail
news
places
session*
thumbs
tramp
url
var
network-security.data
