scratchpad.el
custom.el
recentf
projects
.cache/
*.elc
eln-cache/
tree-sitter/
straight/repos
straight/build-cache.el
straight/build
straight/modified
multisession/
projectile-bookmarks.eld
projectile.cache
.org-id-locations
org-persist/
org-roam.db
conf-private/
transient/
elpa/
elpa/archives
el-get/
abbrev_defs
auto-save-list
auto-saves
backups
locks
bookmarks
history
ispell-personal-dictionary
eshell/history
eshell/lastdir
image-dired/
mail
news
places
session*
thumbs
tramp
url
var
network-security.data
